<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public_key</key>
	<data>
	bulJhwC43SYNoOt3Zirf01YILKFXTTdWW7kS2IW1Kmw=
	</data>
	<key>private_key</key>
	<data>
	KnDUbf1fr3EFkTpsxrJ5CYmFkp+hNQq7qaKqPXXIu1w=
	</data>
	<key>identifier</key>
	<string>6f7a3d14-e7cd-3efb-8b3a-4178b9df5aac</string>
</dict>
</plist>