#!name = YouTube
#!desc = 移除广告
#!author = Maasea
#!update = 2024.12.6

# ⚠️⚠️
# Quantumult X 必须在 [general] 部分加入以下代码: udp_drop_list=443


# 响应体
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/(browse|next|player|search|reel\/reel_watch_sequence|guide|account\/get_setting|get_watch) url script-response-body https://raw.githubusercontent.com/Maasea/sgmodule/master/Script/Youtube/youtube.response.js
hostname = rr*.googlevideo.com, youtubei.googleapis.com
